<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-2.5.xsd">

	<context:property-placeholder location="classpath*:*.properties" />
	<context:component-scan
		base-package="com.kotoblog.beans, com.kotoblog.persist, com.kotoblog.camel" />

	<!-- start jms -->
	<import resource="jms.xml" />

	<!-- start camel -->
	<import resource="classpath:META-INF/spring/camel-context.xml" />

	<!-- Parser -->
	<import resource="classpath:parser.xml" />

	<!-- Persist -->
	<import resource="classpath:persist.xml" />
</beans>